  
.main {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100%; 
    overflow-y: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
  
  }
  .osg-grid.osg-grid--gutter{
    display: flex;
    background-color: #f9f9f9;
    margin-left: auto;
    margin-right: auto;
    height:100vh;
    width: 80%;
    border-radius: 20px;
   
    
  }